.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;
    border: var(--border1);
    border-radius: 6px;
    padding: 4px;
    background-color: white;
    overflow: hidden;
    line-break: anywhere;
    flex-wrap: wrap;
}

.task_contetnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px;
  border: var(--border1);
  border-radius: 6px;
  padding: 4px;
  overflow: hidden;
}

.task__content-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 90%;
}

.task__title {
  display: block;
  max-width: 100%;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.task__description {
  width: 100%;
  height: 150px;
  max-height: 300px;
  padding: 4px;
}

.task_button-block {
  display: flex;
  align-items: center;
}

.vis-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.user-file {
    width: 70px;
    height: 70px;
}

.default-task {
    height: 40px;
    width: 40px;
}

.default-task svg {
    height: 100%;
    width: 100%;
}
