.select {
  width: 60px;
  height: 23px;
  font-size: 14px;
  color: var(--color3);
  text-align: center;
  text-decoration: none;
  border: var(--border1);
  border-radius: 5px;
  background-color: transparent;
}

.select.dark {
  color: var(--color1);
  border: var(--border2);
}

.select.color {
  color: var(--color1);
  border: var(--border2);
}

.select:hover {
  background-color: var(--color2);
  cursor: pointer;
}

.option {
  background-color: var(--color1);
  color: var(--color3);
}

.option.dark {
  background-color: var(--color3);
  color: var(--color1);
}

.option.color {
  background-color: var(--color4);
  color: var(--color1);
}
