.select {
  color: var(--color1);
  background-color: var(--background-color4);
}

.select.dark {
  color: var(--color2);
  background-color: var(--background-color5);
}

.select.color {
  color: var(--color3);
  background-color: var(--background-color6);
}

.select:hover {
  border: var(--border1);
}

.option.light {
  color: var(--color1);
  background-color: var(--background-color4);
}

.option.dark {
  color: var(--color2);
  background-color: var(--background-color5);
}

.option.color {
  color: var(--color3);
  background-color: var(--background-color6);
}

.option:hover {
  background-color: var(--background-color1);
}

.option.dark:hover {
  background-color: var(--background-color2);
}

.option.color:hover {
  background-color: var(--background-color3);
}
