.close-modal-button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0px;
}
.close-modal-button__cross {
  fill: rgba(39, 34, 34, 0.473);
}
.close-modal-button:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(184, 67, 67, 0.473);
}
.close-modal-button:active {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(184, 67, 67, 0.473);
  transform: scale(0.95);
}
.close-modal-button:hover .close-modal-button__cross{
  fill: rgba(184, 67, 67, 0.473);
}