.project-board {}

.project-board__link {
    text-decoration: none;
    line-height: 40px;
    color: var(--color4);
    transition: 0.2s color ease-in;
}

.project-board__link:hover {
    color: var(--link-color1);
}

.project-board__title {
    border-bottom: var(--border1);
    padding-bottom: 14px;
    text-align: center;
}

.project-board__columns {
    height: 73vh;
    max-height: 75vh;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
}

.project-board__columns-list {
    display: flex;
    height: 100%;
    padding: 10px 15px;
    column-gap: 20px;
    overflow-x: auto;
}
