.project-board__title,
.project-board__link {
    padding-left: 10px;
    padding-right: 10px;
}

.project-board {


}

.project-board__link {
    text-decoration: none;
    line-height: 40px;
}

.project-board__title {
    flex: 1 1 100%;
    border-bottom: var(--border1);
    padding-bottom: 14px;
}

.project-board__columns {
    height: 82vh;
    display: flex;
    padding: 10px 15px;
    column-gap: 20px;
    overflow-x: auto;
}
