.login-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.sign-in-form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.sign-in-form__title {
    text-align: center;
}

.sign-in-form__item {
    width: 100%;
}

.sign-in-form__item input {
    display: block;
    width: inherit;
}

.sign-in-form__item.buttons {
    display: flex;
    justify-content: space-between;
}
