.sign-up-form,
.sign-in-form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.sign-up-form__title,
.sign-in-form__title {
    text-align: center;
    width: 100%;
    margin: 0px 0px 24px;
    font-size: 20px;
    font-weight: 600;
}

.sign-up-form__item,
.sign-in-form__item {
    width: 100%;
    margin-bottom: 10px;
}

.sign-up-form__item input,
.sign-in-form__item input {
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 6px;
}

.sign-up-form__item label,
.sign-in-form__item label {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 600;
}

.sign-up-form__item button,
.sign-in-form__item button,
.form-success__button {
    min-width: 130px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid black;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

.sign-up-form__item.password,
.sign-in-form__item.password {
    margin-bottom: 30px;
}

.sign-up-form__item input,
.sign-in-form__item input {
    display: block;
    width: inherit;
}

.sign-up-form__item.buttons,
.sign-in-form__item.buttons {
    display: flex;
    justify-content: space-between;
}

.form-messages {
    width: 100%;
    font-size: 16px;
    color: #e1001f;
    min-height: 1.2rem;
}

.form-success,
.form-failed {
    width: 100%;
    min-height: 1rem;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.form-failed {
    color: #e1001f;
}

.form-success {
    color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 30px;
    align-items: center;
}

.form-success__message {
    margin-bottom: 14px;
}

.form-success__button {
    font-size: 16px;
}