.create-board-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  min-width: 300px;
  height: 40px;
}
.create-board-form__title-input,
.create-board-form__description-input {
  width: 40%;
  min-width: 100px;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(39, 34, 34, 0.473); 
  margin: auto 10px auto 10px ;
  font-size: 1em;
}

