.create-board-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  min-width: 300px;
  height: 40px;
}
.create-board-form__title-input,
.create-board-form__description-input {
  width: 40%;
  min-width: 100px;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(39, 34, 34, 0.473); 
  margin: auto 10px auto 10px ;
  font-size: 1em;
}
.create-board-form__add-board-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  z-index: 1000;
}
  .create-board-form__add-board-button:disabled {
    border: 1px solid rgba(39, 34, 34, 0.473);
    font-weight: 200;
    border: none;
  }
  .create-board-form__add-board-button:disabled:hover {
    cursor: not-allowed;
    font-weight: 200;
    border: none;
  }
  .create-board-form__add-board-button:hover {
    border: 1px solid rgba(73, 173, 73, 0.411);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-board-button__yes{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    color: rgba(73, 173, 73, 0.411);
    font-size: 3em;
    font-weight: 200;
    line-height: 40px;
  }

  .create-board-form__add-board-button:hover .add-board-button__yes{
    font-weight: 600;
  }
  .create-board-form__add-board-button:disabled .add-board-button__yes {
    color: rgba(39, 34, 34, 0.473);
    font-weight: 200;
   }
  .create-board-form__add-board-button:disabled:hover .add-board-button__yes{
    font-weight: 200;
  }
  
  .create-board-form__add-board-button:disabled:hover .create-board-form__add-board-button_tooltip{
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -45px;
    width: 150px;
    line-height: 15px;
    color: rgba(211, 86, 29, 0.651);
    font-size: 0.75em;
    font-weight: 600;
    border-bottom: 0.5px solid rgba(211, 86, 29, 0.651);
}
  .create-board-form__add-board-button_tooltip {
    display: none;
    border-bottom: none;
  }
  