:root {
  --color1: #fefefe;
  --color2: #e1e1e1;
  --color3: #464646;

  --border1: 1px solid #e1e1e1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--color1);
  border-bottom: var(--border1);
}

.nav {
  display: flex;
  gap: 10px;
  padding: 0 15px;
}

.nav__link,
.nav__select {
  display: inline-block;
  width: 120px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--color3);
  border: var(--border1);
  border-radius: 5px;
}

.nav__link:hover,
.nav__select:hover {
  background-color: var(--color2);
  cursor: pointer;
}

.nav__select {
  width: 50px;
  font-size: 14px;
  background-color: transparent;
}
