.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: var(--border1);
  background-color: var(--background-color1);
}

.header.dark {
  border-bottom: var(--border2);
  background-color: var(--background-color2);
}

.header.color {
  border-bottom: var(--border3);
  background-color: var(--background-color3);
}

.nav {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.nav__link {
  width: 150px;
  height: 23px;
  font-size: 16px;
  color: var(--color1);
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background-color: var(--background-color4);
}

.nav__link.dark {
  color: var(--color2);
  background-color: var(--background-color5);
}

.nav__link.color {
  color: var(--color3);
  background-color: var(--background-color6);
}

.nav__link:hover {
  border: var(--border1);
}
