.welcome-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  background-color: var(--background-color1);
}

.welcome-page-container.dark {
  background-color: var(--background-color2);
}

.welcome-page-container.color {
  background-color: var(--background-color3);
}

.selectors-container {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.welcome-page-title,
.content-title {
  font-size: 28px;
  color: var(--color1);
}

.welcome-page-title.dark,
.content-title.dark {
  color: var(--color2);
}

.welcome-page-title.color,
.content-title.color {
  color: var(--color3);
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 10px;
}

.auth-link,
.auth-link-arrow {
  min-width: 100px;
  height: 23px;
  font-size: 26px;
  font-weight: 900;
  color: var(--link-color1);
  text-align: center;
  text-decoration: none;
}

.auth-link-arrow {
  font-size: 20px;
}

.auth-link.dark,
.auth-link-arrow.dark {
  color: var(--link-color2);
}

.auth-link.dark,
.auth-link-arrow.dark {
  color: var(--link-color3);
}

.auth-link:hover {
  text-decoration: underline;
}

.welcome-page-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 65%;
  padding: 10px;
  color: var(--color1);
  background-color: var(--background-color4);
}

.welcome-page-content.dark {
  color: var(--color2);
  background-color: var(--background-color5);
}

.welcome-page-content.color {
  color: var(--color3);
  background-color: var(--background-color6);
}

.content-title {
  width: 100%;
  font-size: 20px;
}
